<div class="container">
<div class="about-company"><span class="company-name-footer">yachtjet</span>
    <ul class="about-company-list">
        <li class="item-list-ac">ABOUT</li>
        <li class="item-list-ac">YACHTS</li>
        <li class="item-list-ac">REVIEWS</li>
    </ul>
</div>
<div class="company-social-media">
<ul class="smc-list">
    <li class="item-list-smc">
        <svg class="icon">
            <use href="/src/img/icons.svg#icon-instagram"></use>
        </svg>
    </li>
    <li class="item-list-smc">
        <svg class="icon">
            <use href="/src/img/icons.svg#icon-youtube"></use>
        </svg>
    </li>
    <li class="item-list-smc">
        <svg class="icon">
            <use href="/src/img/icons.svg#icon-facebook"></use>
        </svg>
    </li>
</ul>
</div>
</div>
<div class="motto-of-company">No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.</div>
<div class="ppc-information">
    <ul class="privacy-police">
        <li>2023. Yacht Adventures</li>
        <li>Privacy Police</li>
    </ul>
</div>