<footer class="footer">
<div class="container">
        <div class="company-name">yachtjet</div>
        <div>
            <ul class="main-information">
                <li class="item-information-list"><p class="item-text-information">ABOUT</p></li>
                <li class="item-information-list"><p class="item-text-information">YACHTS</p></li>
                <li class="item-information-list"><p class="item-text-information">REVIEWS</p></li>
            </ul>
        </div>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div>
        <p class="motto-company">No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.</p>
    </div>
    <div class="description">
        <p class="year-name">2023. Yacht Adventure</p>
        <p class="privacy">Privacy Police</p>
    </div>
</footer>