<footer>
    <div class="container">
        <div class="company-name">yachtjet</div>
        <div>
            <ul class="main-information">
                <li class="item-information-list"><p class="item-text-information">ABOUT</p></li>
                <li class="item-information-list"><p class="item-text-information">YACHTS</p></li>
                <li class="item-information-list"><p class="item-text-information">REVIEWS</p></li>
            </ul>
        </div>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div>
        <p>No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.</p>
    </div>
    <div>
        <ul>
            <li>
                <p>2023. Yacht Adventure</p>
            </li>
            <li>
                <p>Privacy Police</p>
            </li>
        </ul>
    </div>
</footer>