<header class="header">
  <div class="header-container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo"> yachtjet </a>
      <div class="header-button">
        <button type="button" class="header-btn">
          <a href="#about" class="text-btn"> About </a>
        </button>
        <button type="button" class="header-btn">
          <a href="#yachts" class="text-btn"> Yachts </a>
        </button>
        <button type="button" class="header-btn">
          <a href="#reviews" class="text-btn"> Reviews </a>
        </button>
      </div>
      <ul class="header-soc-list">
        <li class="header-soc-item">
          <a href="" class="header-soc-link">
            <svg class="header-soc-icon" width="24" height="24">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="" class="header-soc-link">
            <svg class="header-soc-icon" width="24" height="24">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="" class="header-soc-link">
            <svg class="header-soc-icon" width="24" height="24">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <button type="button" class="heder-open-btn">
      <svg class="heder-icon" width="28" height="28">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>
