.about-section {
  margin-bottom: 80px;
  margin-top: -50px;
}

.description {
    background: #fbfbfb;
    border-radius: 24px 24px 0 0;
}

.about-title {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}

.p-container {
  padding: 20px 20px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.p-first {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}

.p-second {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}

@media screen and (min-width: 768px) {
  .about-section {
    margin-bottom: 150px;
  }

  .description {
    margin: auto;
  }

  .about-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 50px;
    width: 536px;
    padding-left: 32px;
  }

  .p-container {
    padding-left: 32px;
    width: 389px;
  }

  .p-first {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
  }

  .p-second {
    font-size: 13px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .description {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  
  .about-title {
    padding-left: 50px;
  }
  
  .p-container {
    padding-right: 50px;
    padding-top: 50px;
  }
}
