img {
  display: block;
}
@media screen and (min-width: 320px) {
  h3 {
    display: none;
  }
  .advantages-list-container {
    background-color: #1b414b;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
    text-align: left;
    align-self: center;
  }

  ol {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    padding-inline-start: 20px;
  }
  .advantages-list-item::marker {
    margin-bottom: 40px;
  }

  .advantages-text {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fbfbfb;
    opacity: 0.8;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
  }
  .advantages-text::before,
  .advantages-text::after {
    border-radius: 18px;
    width: 304px;
    height: 2px;
    background: rgba(251, 251, 251, 0.1);
  }
}
@media screen and (min-width: 768px) {
  .advantages-container {
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .advantages-list-container {
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
  }

  .advantages-list-container .advantages-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .advantages-list-item {
    max-width: 302px;
    flex-basis: calc((100% - 32px) / 3);
  }

  ol {
    padding-inline-start: 0;
  }
}
@media screen and (min-width: 1168px) {
  .advantages-container {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
  }
  .advantages-img {
    margin-right: 50px;
  }
}
