.containe{
    display: flex;
}
.company-name-footer{
    color: #FBFBFB;
    display: flex;
    font-size: 20px;
    line-height: 24.2px;
    width: 74px;
    height: 24px;
    padding-top: 50px;
    padding-left: 75px;
}
.about-company{
    padding-left: 558px;
    display: flex;
    padding-top: 50px;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.about-company-list{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 15px;
    padding-top: 50px;
    align-items: center;
}
.item-list-ac{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;;
    color: #FBFBFB;
    border-radius: 8px;
    width: 91px;
    height: 41px;
}
.smc-list{
    display: flex;
    width: 88px;
    height: 24px;
    
}
.motto-of-company{
    color: #FBFBFB;
    text-align: center;
    line-height: 32px;
    font-size: 32px;
    font-weight: 400px;
    width: 699px;
    height: 96px;
    margin-top: 186px;
    margin-left: 345px;
    letter-spacing: -2%;
}
.privacy-police{
    display: flex;
    gap: 32px;
    color: #FBFBFB66;
    text-align: center;
}
.ppc-information{
    text-align: center;
    padding-left: 546px;
    padding-top: 381px;
}
.item-list-ac:hover{
    background-color: #e0e0e0;
}